aiobotocore==2.2.0
aioconsole==0.6.2
aiofiles==0.8.0
aiohttp==3.8.4
aioitertools==0.11.0
aioredis==1.3.1
aiosignal==1.3.1
amqp==2.5.2
apipkg==1.5
appdirs==1.4.4
appnope==0.1.3
asgiref==3.4.1
asn1crypto==1.5.1
async-timeout==4.0.2
asyncio==3.4.3
asynctest==0.13.0
attrs==23.1.0
Authlib==1.2.0
autobahn==21.2.1
Automat==22.10.0
awscli==1.22.76
backcall==0.1.0
backoff==2.2.1
backports.cached-property==1.0.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.1
billiard==3.6.3.0
blis==0.7.9
boto3==1.21.21
botocore==1.24.21
bytecode==0.13.0
cachetools==4.1.0
catalogue==2.0.8
cattrs==23.1.2
cbor2==5.4.6
celery==4.4.2
celery-once==3.0.1
certifi==2020.4.5.1
cffi==1.14.0
cfgv==3.1.0
channels==3.0.4
channels-redis==3.3.0
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.3
confection==0.0.4
constantly==15.1.0
coverage==5.1
cryptography==3.2
cssselect==1.2.0
cycler==0.11.0
cymem==2.0.7
daphne==3.0.2
datadog==0.45.0
datadog-api-client==2.5.0
dateparser==1.1.8
ddsketch==2.0.4
ddtrace==1.14.0
de-core-news-md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.5.0/de_core_news_md-3.5.0.tar.gz
decorator==4.4.2
Deprecated==1.2.14
distlib==0.3.0
Django==2.2.12
django-address==0.2.2
django-advanced-password-validation==1.2.0
django-anymail==7.1.0
django-appconf==1.0.5
django-axes==5.16.0
django-bulk-update==2.2.0
django-cache-fallback==0.3.0
django-celery-beat==2.0.0
django-cookies-samesite==0.8.0
django-cors-headers==3.3.0
django-debug-toolbar==3.2.1
django-elasticsearch-dsl==7.1.4
django-encrypted-model-fields==0.5.8
django-extensions==2.2.9
django-filter==2.2.0
django-ipware==3.0.7
django-multiselectfield==0.1.12
django-redis==4.12.1
django-request-logging==0.7.3
django-safedelete==0.5.5
django-session-timeout==0.1.0
django-simple-history==3.0.0
django-storages==1.9.1
django-structlog==3.0.1
django-tenant-schemas==1.10.0
django-timezone-field==4.0
django-user-accounts==3.0.4
djangorestframework==3.12.2
djangorestframework-simplejwt==5.2.2
docopt==0.6.2
docutils==0.15.2
docx2txt==0.8
drf-tracking==1.5.0
drf-writable-nested==0.6.3
elasticsearch==7.8.0
elasticsearch-dsl==7.2.1
email-reply-parser==0.5.12
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0.tar.gz
envier==0.4.0
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.5.0/es_core_news_md-3.5.0.tar.gz
exceptiongroup==1.1.2
execnet==1.7.1
expiringdict==1.2.2
factory-boy==2.12.0
Faker==12.0.0
ffmpeg-python==0.2.0
filelock==3.0.12
flower==0.9.5
fonttools==4.38.0
fpdf==1.7.2
frozenlist==1.3.3
furl==2.1.2
future==0.18.3
fuzzywuzzy==0.18.0
gcloud-aio-auth==4.2.1
gcloud-aio-storage==7.0.1
google-api-core==1.31.5
google-api-python-client==1.12.10
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.0
google-cloud-core==1.7.2
google-cloud-pubsub==2.6.0
google-cloud-speech==1.3.2
google-cloud-storage==1.44.0
google-cloud-translate==1.7.0
google-crc32c==1.5.0
google-resumable-media==1.3.3
googleapis-common-protos==1.51.0
greenlet==2.0.2
grpc-google-iam-v1==0.12.3
grpcio==1.29.0
gspread==5.7.2
gunicorn==20.0.4
h11==0.8.1
h2==3.2.0
hiredis==2.2.2
hpack==3.0.0
html2text==2020.1.16
http3==0.6.7
httplib2==0.17.4
humanize==4.6.0
hvac==1.0.2
hyperframe==5.2.0
hyperlink==21.0.0
identify==1.4.16
idna==2.10
importlib-metadata==1.6.0
importlib-resources==1.5.0
incremental==22.10.0
intervaltree==3.1.0
ipdb==0.13.4
ipython==7.14.0
ipython-genutils==0.2.0
itemadapter==0.8.0
itemloaders==1.0.6
jedi==0.17.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json-lines==0.5.0
JSON-log-formatter==0.4.0
json2html==1.3.0
jsonschema==4.17.3
kiwisolver==1.4.5
kombu==4.6.8
langcodes==3.3.0
launchdarkly-server-sdk==9.0.1
Levenshtein==0.20.9
libcst==0.4.9
luqum==0.11.0
lxml==4.9.2
Markdown==3.3.4
MarkupSafe==2.1.2
matplotlib==3.5.3
memory-profiler==0.61.0
mixer==7.2.0
more-itertools==8.3.0
msgpack==1.0.0
multidict==6.0.4
munch==2.5.0
murmurhash==1.0.9
mypy==1.4.1
mypy-extensions==1.0.0
ndg-httpsclient==0.5.1
nodeenv==1.3.5
numpy==1.21.6
oauth2client==3.0.0
oauthlib==3.1.0
observable==0.3.2
openai==0.28.1
opentelemetry-api==1.15.0
optimizely-sdk==4.1.0
ordered-set==4.0.1
orderedmultidict==1.0.1
oscrypto==1.3.0
packaging==20.4
pandas==1.0.5
parsel==1.7.0
parso==0.7.0
Paste==3.5.2
pathy==0.10.1
pdfminer.six==20200720
pexpect==4.8.0
phonenumbers==8.13.9
pickleshare==0.7.5
Pillow==7.1.2
pkgutil_resolve_name==1.3.10
pluggy==0.13.1
ply==3.11
pre-commit==2.4.0
preshed==3.0.8
presidio-analyzer==2.2.27
presidio-anonymizer==2.2.27
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.2.1
proto-plus==1.19.6
protobuf==3.12.1
psutil==5.9.6
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pubnub==4.8.1
pusher==3.0.0
py==1.8.1
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycryptodome==3.17
pycryptodomex==3.17
pydantic==1.10.7
PyDispatcher==2.0.7
Pygments==2.6.1
pyhcl==0.4.4
PyJWT==1.7.1
PyNaCl==1.3.0
pyOpenSSL==19.1.0
pyotp==2.7.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyRFC3339==1.1
pyrsistent==0.19.3
pysaml2==4.0.3
pytest==5.4.2
pytest-cov==2.9.0
pytest-django==3.9.0
pytest-forked==1.1.3
pytest-mock==3.10.0
pytest-xdist==1.32.0
python-box==4.2.3
python-crontab==2.5.1
python-dateutil==2.8.1
python-Levenshtein==0.20.9
python-scrapyd-api==2.1.2
pytz==2020.4
PyYAML==5.3.1
queuelib==1.6.2
rapidfuzz==2.15.1
redis==3.5.2
regex==2022.10.31
reportlab==3.5.44
repoze.who==3.0.0
requests==2.27.1
requests-async==0.6.2
requests-file==1.5.1
requests-oauthlib==1.3.0
retry==0.9.2
rfc3986==1.5.0
ringcentral==0.7.11
rsa==4.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.5.2
scikit-learn==1.0
scim2-filter-parser==0.4.0
scipy==1.7.3
Scrapy==2.3.0
scrapyd==1.2.1
semver==3.0.2
sentry-sdk==0.20.3
service-identity==21.1.0
simple-salesforce==1.10.1
six==1.14.0
slack-bolt==1.4.3
slack-sdk==3.19.5
sly==0.4
smart-open==6.3.0
snowflake-connector-python==2.7.3
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==1.4.7
sqlparse==0.3.1
srsly==2.4.6
structlog==22.1.0
tblib==2.0.0
tenacity==8.2.2
text-unidecode==1.3
thinc==8.1.9
threadpoolctl==3.1.0
tldextract==3.4.0
toml==0.10.1
tomli==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==4.3.3
twilio==6.63.2
Twisted==22.4.0
txaio==23.1.1
typed-ast==1.5.5
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.4.0
tzlocal==5.0.1
ua-parser==0.10.0
uritemplate==3.0.1
urllib3==1.25.9
URLObject==2.4.3
uvicorn==0.14.0
vine==1.3.0
virtualenv==20.0.21
w3lib==2.1.1
wasabi==1.1.1
wcwidth==0.1.9
WebOb==1.8.7
websockets==9.1
webvtt-py==0.4.6
wrapt==1.15.0
xgboost==1.6.2
xlrd==1.2.0
xmltodict==0.13.0
yarl==1.8.2
zenpy==2.0.46
zipp==3.1.0
zope.interface==6.0
